<div>
  <form (ngSubmit)="onSubmit()" #createGameForm="ngForm" class="text-center">
    <div class="form-group">
      <mat-form-field>
        <mat-label>Name</mat-label>
        <input matInput [(ngModel)]="model.name" name="name" #name="ngModel">
      </mat-form-field>
    </div>
    <div class="form-group">
      <mat-form-field>
        <mat-label>Location</mat-label>
        <input matInput [(ngModel)]="model.location" name="location" #location="ngModel">
      </mat-form-field>
    </div>
    <div class="form-group">
      <mat-form-field>
        <mat-label>Time</mat-label>
        <input matInput type="datetime-local" placeholder="start date" [(ngModel)]="model.time" name="time"
          #time="ngModel">
      </mat-form-field>
    </div>
    <div class="form-group">
      <button type="submit">Create game</button>
    </div>
  </form>
</div>